# Frontend
/frontend/node_modules
/frontend/build
/frontend/dist

# API
/api/node_modules
/api/vendor
/api/.env
/api/.env.*          # Ignore other env variants like .env.testing
/api/storage/*.key   # Laravel encryption keys
/api/storage/*.log   # Log files
/api/storage/app/public
/api/public/storage

# Websocket Server
/websocket_server/node_modules

# System/IDE
.DS_Store
*.log
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/
