@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
  font-family: "Tajawal", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{
    --light: #f6f8eb;
    --dark: #c1ab84;
    --accent: #f15d41;
    --extreme-dark: #272727;
}

body{
  background-color: var(--light);
}

#root{
  max-width: 400px;
  margin-inline: auto;
}